# This is a basic workflow to help you get started with Actions

name: Install Azure Agent

# Controls when the workflow will run
on:

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  install:
    # The type of runner that the job will run on
    runs-on: dynatracedemo

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- uses: actions/checkout@v3
      # Runs a single command using the runners shell
  
      - name: install azure Agent
        run: |
            curl https://vstsagentpackage.azureedge.net/agent/2.204.0/vsts-agent-linux-x64-2.204.0.tar.gz --output vsts-agent-linux-x64-2.204.0.tar.gz
            ~/$ mkdir myagent && cd myagent
            ~/myagent$ tar zxvf vsts-agent-linux-x64-2.204.0.tar.gz
            ~/myagent$ ./config.sh --unattended --url ${{ secret.AZURE_URL }} --auth pat --token ${{ secret.AZURE_PAT }}

             
   
